//// Users List
.user-list-container {
    height: 560px;
    width: 602px;
    border-radius: 15px;
    overflow: auto;

    .users-title {
        background-color: #F6F6F6;
        height: 108px;
        font-size: 21px;
        color: #545454;
        line-height: 108px;
        text-align: center;
        font-weight: 500;
    }


}